# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.db
venv
ENV

# Node
node_modules
frontend/node_modules

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Docker
Dockerfile
docker-compose.yml
.dockerignore
